;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

; see `echo_supervisord_conf` for details

[unix_http_server]
file                            = {{ supervisord_sock_path }}

{% if supervisord_inet_listen is defined -%}
[inet_http_server]
port                            = {{ supervisord_inet_listen }}:{{ supervisord_inet_port }}
username                        = {{ supervisord_inet_user }}
password                        = {SHA}{{ supervisord_inet_pass | hash('sha1') }}
{% endif %}

[supervisord]
logfile                         = {{ supervisord_log_dir }}/supervisord.log
logfile_maxbytes                = 50MB
logfile_backups                 = 10
loglevel                        = info
pidfile                         = {{ supervisord_run_dir }}/supervisord.pid
nodaemon                        = false
minfds                          = 1024
minprocs                        = 200

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl                       = unix://{{ supervisord_sock_path }}

[include]
files                           =  {{ supervisord_conf_dir }}/*.{{ supervisord_conf_ext }}
